<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="2.2.14" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="2.2.5" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="2.2.5" targetFramework="net471" />
  <package id="NMemory" version="3.1.3" targetFramework="net471" />
</packages>